body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    margin-top: 40px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

a {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-color: #333;
    color: #ffffff;
}

.contact-button {
    background-color: #333;
    color: #ffffff;
    border: none;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    a {
        width: 80%;
    }
}
